.header {
  background-color: $headerBackgroundColor;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  padding-left: 1.5rem;

  .logo {
    font-size: 24px;
    font-weight: 700;
  }

  .linkIcons {
    background-color: $headerBackgroundColor;
    border: none;
    padding: 8px;
  }
}
